:root {
  --color-purple: #8257E6;
  --color-green: #50fa7b;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif;
  max-width: 1000px;
  min-height: 100%;
  background: #f4f4f4;
  margin: auto;
}

header {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.img-logo {
  width: 200px;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.links {
  background: #4d5f8d; 
  padding: 10px;
  margin-top:10px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  cursor: pointer;

}
.links:hover {
  opacity: 0.8;
}

.obs {
  background-color: #eea;
  max-width: 320px;
  padding: 8px;
  border-radius: 8px;
  margin: 16px;
  text-align: center;
}

.negrito {
  font-weight: bold;
}

  @media (max-width: 660px) {
    .img-logo {
      width: 100px;
    }
    .container {
    flex-direction: column;
  }
    .links {
      width: 100%;
    }
  }